*{
    padding: 0;
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    background-color: #121212;
    box-sizing: border-box;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
html , body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.header1{
    display: flex;
    background-color:  #16151d;
    padding: -10px;
    flex-flow: row wrap;
    justify-content: space-between;
}

.home{
    margin: 0 0 0 110px;
    padding: 0;
    cursor: pointer;
}

input{
    width: 200px;
    height: 25px;
    margin: 33px 20px 0 800px;
    border-radius: 25px;
    border: none;
    outline: none;
    background-color: #f8f9fa;
    padding: 0 10px 0 35px;
    background-image: url(img/search-removebg-preview.png);
    background-size: 15px 15px;
    background-position: 10px center;
    background-repeat: no-repeat;
}

.cinema{
    position: absolute;
    margin: 0 0 0 146px;
    cursor: pointer;
}

.header2-container{
    position: relative;
}

.header2{
    display: flex;
    position: sticky;
    top: 0;
    flex-flow: row wrap;
    background-color:  #2B2A32;
    padding: 25px;
    justify-content: space-between;
    z-index: 100;
}

@font-face {
    font-family: rawr;
    src: url(font/Product\ Sans\ Regular.ttf);
}

@font-face {
    font-family: rawr1;
    src: url(font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

.header2 > div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: rawr;
    cursor: pointer;
    transition: 0.5s;
}
.material-symbols-outlined{
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    cursor: pointer;
}

.header2 > div:hover{
    color: white;
}

.pisah{
    border-radius: 25px;
    border: 3px solid black;
    height: 40px;
}

.header2 > div > img{
    width: 100px;
    height: 20px;
}

.slider{
    overflow: hidden;
    position: absolute;
    width: 800px;
    height: 500px;
    margin-top: 50px;
    margin-left: -400px;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide1{
    width: 20%;
    transition: 2s;
}

.slide1 img{
    width: 800px;
    height: 500px;
}

.slide img{
    width: 800px;
    height: 500px;
}

.manualslide{
    position: absolute;
    width: 800px;
    margin-top: -49px;
    display: flex;
    justify-content: center;
}

.Mbutton{
     border: 2px solid #40D3DC;
     padding: 5px;
     border-radius: 10px;
     cursor: pointer;
     transition: 1s;
}

.Mbutton:not(:last-child){
    margin-right: 40px;
}

.Mbutton:hover{
    background-color:#40D3DC ;
}

#radio1:checked ~ .slide1{
    margin-left: 0;

}
#radio2:checked ~ .slide1{
    margin-left: -20%;

}#radio3:checked ~ .slide1{
    margin-left: -40%;
}

.autoslide{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 450px;
}

.autoslide div{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.autoslide div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .autoslide .Abutton1{
    background: #40D3DC;
}

#radio2:checked ~ .autoslide .Abutton2{
    background: #40D3DC;
}

#radio3:checked ~ .autoslide .Abutton3{
    background: #40D3DC;
}

.pisa1{
    position: relative;
    width: 2px;
    height: 52px;
    top: -0px;
    background-color: #cccccc;
}

.nowplay{
    
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    background-color: #cccccc;
    height: 34px;
    width: 250px;
    text-align: center;
}
.line{
    display: flex;
    margin-top: 618px;
    margin-left: -687px;
    align-items: center;
}

.Jakarta{
    display: flex;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    background-color: white;
    height: 34px;
    width: 230px;
    cursor: pointer;
    text-align: center;
    border: none;
}

.Jakarta > option{
    display: flex;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
}

.poster{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-flow: row wrap;
    justify-content: start;
    text-align: center;
    position: relative;
}

.poster > div{
    display: flex;
    margin-top: 190px;
    margin-left: 69px;
    width: 270px;
    height: 400px;
    transition: box-shadow 0.3s ease-in-out;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;
}

.poster > div:hover{
    transform: scale(1.1);
    box-shadow: 0 0 40px black;
    color: white;
}

.poster > div > h1{
    font-family: 'Cute Font', cursive;
    font-size: 35px;
    cursor: pointer;
}

.poster > div > h4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gabarito', cursive;
    width: 50px;
    margin-left: 110px;
    margin-top: 30px;
    font-size: 13px;
}

.poster > div > h3{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gabarito', cursive;
    width: 50px;
    margin-left: 110px;
    margin-top: 30px;
    font-size: 13px;
}

.poster > div > h5{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gabarito', cursive;
    width: 50px;
    margin-left: 110px;
    margin-top: 30px;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-top: 0;
    padding-bottom: 60px;
    background-color: #2B2A32;
}

.foot-kiri, .pisah1{
    display: flex;
}

.foot-kiri > a {
    font-family: rawr;
    text-decoration: none;
    margin-right: 30px;
    margin-top: 20px;
    margin-left: 30px;
    transition: 0.3s;
    color: #16151d;
}

.foot-kiri > a:hover{
    color: white;
} 

.foot-kanan{
    display: flex;
    align-items: end;
}

.pisah1{
    border-radius: 25px;
    border: 1px solid white;
    height: 30px;
    margin-top: 15px;
}

footer > p {
    position: absolute;
    margin-top: 120px;
    margin-left: 30px;
    color: white;
    font-size: 11px;
    font-family: rawr1;
}

footer > img:hover {
    background-color: white;
}

.sosmed{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    background-size: 30px;
    background-position: center center;
    transition: 0.3s;
    cursor: pointer;
    background-repeat: no-repeat;
}

.facebook{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    border: 2px solid black;
    margin: 10px;
    background-size: 60px;
    background-position: center center;
    transition: 0.3s;
    cursor: pointer;
}

.sosmed:hover{
    background-color: white;
}

.facebook:hover{
    background-color: white;
}

.pisa2{
    position: relative;
    width: 2px;
    height: 52px;
    background-color: #cccccc;
}

.line1{
    display: flex;
    margin-left: 69px;
    margin-top: 200px;
    align-items: center;
}

.poster1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-flow: row wrap;
    justify-content: start;
    text-align: center;
    position: relative;
}

.poster1 > div{
    display: flex;
    margin-top: 110px;
    margin-left: 69px;
    width: 270px;
    height: 400px;
    transition: box-shadow 0.3s ease-in-out;
    flex-direction: column;
    transition: 0.3s;
    cursor: pointer;
}

.poster1 > div:hover{
    transform: scale(1.1);
    box-shadow: 0 0 40px black;
    color: white;
}

.poster1 > div > h1{
    font-family: 'Cute Font', cursive;
    font-size: 35px;
    cursor: pointer;
}

.poster1 > div > h4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-family: 'Gabarito', cursive;
    width: 50px;
    margin-left: 110px;
    margin-top: 30px;
    font-size: 13px;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    margin-top: 210px;
    margin-left: 650px;
    border: none;
    width: 130px;
    height: auto;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    background-color: #cccccc;
    text-align: center;
    border-radius: 8px;
    cursor: pointer;
}